*
{
    margin: 0;
    padding: 0;
}
ul,ol
{
    list-style: none;
}
body
{
    /* couleur qui couvre le bas de l'image - image d'arrière plan - ne répète pas l'image pour les x (vertical) */
    background: #bfbfbf url("images/background.jpg") repeat-x;
    font-family: Arial, sans-serif;
}
header
{
    padding: 30px 0;
}
header h1
{
    font-size: 40px;
    text-align: center;
    font-family: 'Limelight', sans-serif;
    color: #fff;
    /* Tout en majuscule */
    text-transform: uppercase;
    /* ombre du texte/titre h1 */
    text-shadow: 2px 2px 2px #000;
}

/* Main menu - Section 1 */
/* liste désordonnées */
#main-menu ul
{
    width: 980px;
    height: 500px;
    margin: 0 auto;
    padding-top: 148px;
}
/* mettre les images et les descriptions les uns à côté des autres */
#main-menu ul li
{
    float: left;
    width: 140px;
    height: 500px;
    overflow: hidden;
    position: relative;
}
/* Image en noir et blanc - bw -> black and white */
.bw
{
    /* position, left, width, height gère les positions des images et des descriptions */
    position: absolute;
    left: 0px;
    width: 140px;
    height: 500px;
    /* change la forme de la souris de pointe en main */
    cursor: pointer;
    /* Afficher l'image */
    background: url('images/bw-image.jpg') no-repeat;
    opacity: 0.7;
}
/* Image en couleur */
.color
{
    position: absolute;
    /* position de la 1ère image, scarlette johansson  */
    left: 140px;
    width: 140px;
    height: 500px;
    /* change la forme de la souris de pointe en main */
    cursor: pointer;
    /* Afficher l'image */
    background: url('images/color-image.jpg') no-repeat;
}
/* décale de 140 pixel de plus vers la gauche les images d'arrière plan bw et color */
/* image nathalie portman */
#part2 div
{
    background-position: -140px 0px;
}
/* image jessica alba */
#part3 div
{
    background-position: -280px 0px;
}
/* mage rachel mcadams */
#part4 div
{
    background-position: -420px 0px;
}
/* image marion cotillard */
#part5 div
{
    background-position: -560px 0px;
}

.description
{
    position: absolute;
    left: 140px;
    width: 240px;
    height: 460px;
    padding: 20px;
    background: #fff;
}
.description h2
{
    padding-top: 20px;
    font-size: 30px;
    font-family: "Limelight", sans-serif;
    text-align: center;
    color: #333;
    text-transform: uppercase;
}
.description h3
{
    margin-top: 30px;
    padding: 10px;
    font-size: 26px;
    font-family: 'Lobster', sans-serif;
    background: #d70000;
    color: #fff;
    text-align: center;
    /* ombre */
    text-shadow: 1px 1px 1px #000;
    border-radius: 5px;
}
.description p
{
    padding-top: 35px;
    font-size: 22px;
    font-family: 'Lobster', sans-serif;
    color: #000;
    text-align: center;
}

/*buttons-menu - Section 2 */
#buttons-menu
{
    float:left;
    width: 100%;
    padding: 170px 0 50px 0;
}

#buttons-menu ul
{
    float:left;
    position: relative;
    left: 50%;
    text-align: center;
}
.button
{
    float:left;
    width: 150px;
    margin-left: 30px;
    padding: 10px 0;
    position: relative;
    right: 50%;
    text-shadow: 1px 1px 1px #000;
    font-family: 'Lobster', sans-serif;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.75);
    background: #333;
    border: 2px solid #b70000;
    font-size: 22px;
    cursor: pointer;
    opacity: 0.9;
}
/* bouton change au passage de la souris */
.hovered
{
    background: #b70000;
    border: 2px solid #333;
    font-size: 24px;
}





















